In [1]:
# importando as bibliotecas
import numpy as np
import pandas as pd

In [2]:
# Código 1
Z = np.zeros((4,))
print("Z:", Z)

Z: [0. 0. 0. 0.]

In [3]:
# Código 2
Z = np.zeros((4,))
Z[1] = 1.
print("Z:", Z)

Z: [0. 1. 0. 0.]

In [4]:
# Código 3
Z = np.zeros((4,))
Z[1:] = 1.
print("Z:", Z)

Z: [0. 1. 1. 1.]

In [5]:
# Código 4
Z = np.ones((4,))
Z[-1] = 0.
print("Z:", Z)

Z: [1. 1. 1. 0.]

In [6]:
# Código 5
X = 2 * np.ones((2, 2)) 
print("X:\n", X)

X:
 [[2. 2.]
 [2. 2.]]

In [7]:
# Código 6
X = np.array([[1,2], [3,4]])
Y = X[0, :]
Y[1] = 10
print("X:\n", X)

X:
 [[ 1 10]
 [ 3  4]]

In [8]:
# Código 7
X = np.array([[1,3], [11,10]])
print(np.mean(X[X > np.pi]))

10.5

In [9]:
# Código 8
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
    }

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [10]:
# Código 9
df = pd.DataFrame(data=data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [11]:
df.shape

(10, 4)

In [12]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [13]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [14]:
df['visits']

a    1
b    3
c    2
d    3
e    2
f    3
g    1
h    1
i    2
j    1
Name: visits, dtype: int64

In [15]:
df.sort_values(by='visits', ascending=False)

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [16]:
# Código 10
y_true = np.array([1., 2., 1.])
y_pred = np.array([1.1, 1.98, 1.05])

In [17]:
np.sqrt(((y_true-y_pred)**2).mean())

0.06557438524302006